.bigbutton{position:relative;cursor: pointer;}
.header_button_f{position:absolute;top:7px;left:5px;cursor: pointer;}
.header_subnavbox{height:30px;padding-bottom:1px;background:#ebebeb;overflow:visible;}
.header_subnavbox .header_subnav_header{width:1190px;height:32px;margin:0 auto;border-bottom:1px solid #e5e5e5;line-height:32px}
.header_subnavbox .header_subnav_header .header_subnav{width:1000px;margin:0 auto;padding:0 5px 0 5px; text-align:center;font-size:14px;}
.header_subnavbox .header_subnav_header .header_subnav li{float:left;position:relative;padding:0 15px 0 13px}
.header_subnavbox .header_subnav_header .header_subnav a{color:#5c5c5c;line-height:32px;background:url(../images/header.png) no-repeat -167px -90px}
.header_subnav .header_button_e{position:absolute;top:40%;left:85%;cursor: pointer;}
.ui-datepicker-trigger {width:27px;height:27px;margin-left:2px;}

em{font-style:normal}
.much-tag{width:595px;overflow:hidden;position:absolute;top:188px;left:0;Z-index:7}
.much-tag_content{width:100%;overflow:hidden;margin-top:3px}
.much-tag_title{height: 33px;border-bottom:1px solid #e6e6e6;width: 100%;font-weight:bold}
.much-tag_title li{height:33px;line-height:33px;float:left;border:1px solid #e6e6e6;margin-bottom: -2px;background:url(../images/headerbutton.png) repeat-x 0px -88px;overflow: hidden;position: relative}
.much-tag_title a{display: block;padding: 0 20px;border: 1px solid #fff;font-size:14px;color:#202020}
.much-tag_goods{width:99.7%;overflow:hidden;border: 1px solid #b20000;}
.much-tag_goods dl{width:100%;overflow:hidden;line-height:30px;float:left;border-right:1px solid #e6e6e6;border-bottom:1px dashed #e6e6e6}
dl:last-child{border-bottom:none;}
.much-tag_title .checked,.much-tag_title .checked a{background:white;border-bottom:1px solid white;}
.much-tag_goods dt{width:110px;line-height:30px;float:left;color:#c30000;font-weight:bold;text-align:center;}
.much-tag_goods dd{width:80%;float:left;line-height:30px}
.much-tag_goods dd a{color:#333;}
.much-tag_goods em{border-right:1px solid #e6e6e6;padding:0 8px;}
em:first-child{padding-left:0}
em:last-child{border-right:none;}
.subnav_header{background-color:white;Z-index:8}

.buy_way1{width:auto;overflow:hidden;line-height:38px;margin:0 auto;color:#676767;padding:0 20px;}
.buy_way1 a{color:#676767;}
.buy_way1 a:hover {text-decoration:underline;}

.account-info_box{width:1190px;padding:10px 0px 0px 0px;margin:0 auto;background-color:#FFFFFF;}
.account-info_list{width:186px;overflow:hidden;float:left;margin-bottom:10px;}
.account-info_list .account-info_list_title{line-height:37px;font-size:14px;font-weight:normal;color:#c30000;text-indent:12px;margin-bottom:1px}
.account-info_list_content{width:184px;overflow:hidden;border:1px solid #dcdcdc;border-top:0px;margin-top:5px}

.account-info_list_content .content_title{width:100%;overflow:hidden;line-height:35px;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;background:#f6f6f6;text-indent:12px;color:#666;position:relative;font-size:14px;}
.icon_button{position:absolute;top:9px;left:153px}
.account-info_list_content .content_content,.content_content1{width:100%;overflow:hidden;line-height:40px;color:#666;text-indent:24px;font-size:14px;}
.content_content a:hover{color:#c30000}
.content_content1{border-bottom:1px solid #dcdcdc}
.content_content a {color:#666}
.account-info_content{width:990px;overflow:hidden;float:left;margin-left:12px;border:1px solid #dcdcdc;margin-bottom:20px;padding-bottom:10px;}

/*账户信息*/
.AccountInfo_Title {width:auto;overflow:hidden;margin:10px 20px;line-height:40px;border-bottom:2px solid #c30000;font-size:16px;color:#cc0000;font-weight:bold}
.AccountInfo_TitleOption {width:900px;overflow:hidden;margin:0 auto;margin-top:10px;border-bottom:2px solid #ffccaa}
.AccountInfo_TitleOption ul {width:890px;height:25px;overflow:hidden;padding:0 5px;}
.AccountInfo_TitleOption li {float:left;padding:0 10px;line-height:26px;color:#333333;margin-right:5px;border:1px solid #e6e6e6;border-bottom:none;background:url(../images/AccountInfo_TitleOption1.png) repeat-x;border-radius:3px;cursor:pointer;font-size:14px;}
.AccountInfo_TitleOption li:hover {text-decoration:underline;}
.AccountInfo_TitleOption .checked {background:url(../images/AccountInfo_TitleOption2.png) repeat-x;font-weight:bold;color:#ff6600;font-size:14px;}

.AccountInfo_MoreBox {width:900px;overflow:hidden;margin:0 auto;margin-top:10px;}
.AccountInfo_Hint {overflow:hidden;margin:0 auto;border:1px solid #edd28b;background:#fffdee;padding:10px;line-height:18px;color:#ff6600;font-size:14px;margin-bottom:10px;}
.AccountInfo_Add {width:900px;overflow:hidden;margin:0 auto;margin-top:10px;}
.AccountInfo_AddTitle {width:300px;overflow:hidden;float:left;line-height:30px;font-size:14px;font-weight:bold;color:#c30000;text-indent:12px;}
.AccountInfo_AddButton {width:96px;height:23px;float:right;background:url(../images/AccountInfo_TitleOption2.png) repeat-x;line-height:24px;text-align:center;color:#333333;border:1px solid #f4c36d;cursor:pointer;border-radius:3px;font-size:14px;}
.AccountInfo_AddButton:hover {text-decoration:underline;}
.AccountInfo_AddContent {width:898px;overflow:hidden;margin:0 auto;margin-bottom:20px;border:1px solid #e6e6e6;}
.AccountInfo_AddContentTitle {width:100%;height:34px;overflow:hidden;background:url(../images/AccountInfo_TitleOption1.png) repeat-x 0px bottom;line-height:34px;color:#333333;border-bottom:1px solid #f4f4f4;text-indent:12px;font-size:14px;}
.AccountInfo_ButtonClose {float:left;margin-left:10px;color:#005ea7;cursor:pointer}

.chagepassword_bg {width:auto;overflow:hidden;margin:10px 20px;border:1px solid #e0e0e0;padding:20px;}
.account-info_content .account-info_content-info{width:auto;overflow:hidden;margin:0 20px;line-height:30px;font-size:14px;}
.account-info_content-info ul {width:100%;overflow:hidden;font-size:14px;margin-bottom:10px}
.account-info_content-info li {float:left}
.account-info_content .account-info_content-info .account_info_title{width:90px;overflow:hidden;text-align:right;float:left;color:#666;font-size:14px;}
.account-info_content .account-info_content-info .account_info_title a{color:#ff8200; vertical-align:top;padding:0 3px}
.account-info_content .account-info_content-info .account-info_clumn{width:450px;overflow:hidden;float:left;}
.account-info_clumn input,.account-info_clumn button {font-size:14px;padding:0 5px;}
.account-info_content .account-info_content-info dt{width:80px;overflow:hidden;text-align:right;float:left;color:#666;height:30px;line-height:30px;}
.account-info_content .account-info_content-info dt a{color:#ff8200; vertical-align:top;padding:0 3px}
.account-info_content .account-info_content-info dd{width:660px;overflow:hidden;float:left;margin-bottom:10px}
.input_height{width:200px;height:30px;line-height:30px;border:1px solid #dcdcdc;font-size:14px;padding:0 5px;}
.input-align{width:13px;height:13px;position:relative;top:-1px; vertical-align:middle;margin-right:3px}
#edit_buyer_address li {float:left}
.ul-float li{float:left;margin-right:10px;font-size:14px;}
.ul-float select {font-size:14px;height:25px;border:1px solid #dcdcdc;padding:0 5px;}
.input_height1{width:308px;height:23px;line-height:23px;border:1px solid #dcdcdc;font-size:14px;}
.input-button{width:46px;height:20px;border:1px solid #acacac;margin:5px;cursor: pointer;}
.account-info_name{font-size:14px;font-weight:bold;color:#333}

.account-info_content-photo{width:120px;overflow:hidden;float:left;padding-top:49px}
.account-info_content-photo dt{width:108px;height:108px;border:1px solid #dcdcdc;padding:5px}
.account-info_content-photo dt img{width:108px;height:108px}
.account-info_content-photo dd{text-align:center;line-height:25px}
.account-info_content-photo dd a{color:#005ea7}

/*收货地址*/
.shop-add_box{width:auto;overflow:hidden;margin:0 20px;min-height:300px;}
.shop-add_box .shop-add_a{width:auto;overflow:hidden;border:1px solid #e0e0e0;margin-bottom:10px}
.shop-add_box .shop-add_a .shop-add_a_title{width:100%;overflow:hidden;}
.shop-add_box .shop-add_a .shop-add_a_title em{width:670px;overflow:hidden;line-height:42px;display:block;float:left;text-indent:12px;color:#cc0000}
.shop-add_box .shop-add_a .shop-add_a_title em a{color:#09539f;padding:0 10px}
.shop-add_box .shop-add_a .shop-add_a_title .shop-add_a_button{width:200px;overflow:hidden;float:right;}
.shop-add_a_button li{float:right;margin:5px 5px 5px 0;}
.input-width{width:46px;height:20px;border:1px solid #aaa;cursor: pointer;}
.input-width1{width:72px;height:20px;border:1px solid #aaa;cursor: pointer;}
.shop-add_a_info{width:auto;overflow:hidden;padding:15px 15px 0px 15px;font-size:14px;border-top:1px solid #e0e0e0;}
.shop-add_a_info li {width:818px;height:30px;overflow:hidden;margin-bottom:10px}
.shop-add_a_info .shop-add_a_info_name{width:105px;overflow:hidden;float:left;color:#999;text-align:right;line-height:20px;font-size:14px;}
.shop-add_a_info .shop-add_a_info_add{width:700px;overflow:hidden;float:left;color:#333;line-height:20px}
.input_text_company {width:220px;height:20px;line-height:20px;border:1px solid #999;color:#333;}
.AddressSet_Table table{width:100%;overflow:hidden;border-collapse:collapse}
.AddressSet_Table td {border:1px solid #e6e6e6;height:25px;padding:5px;}
.AddressSet_Table .order_table_color {background:#f6f6f6;color:#333;}
.AddressSet_Table .order_info {color:#666;}
.AddressSet_Table .order_info a {display:block;float:left;margin-right:5px;padding:0 7px;line-height:25px;}

/*我的抵用券*/
.couponcardbox {width:auto;overflow:hidden;background:#f6f6f6;padding:10px 5px 0px;font-size:14px;border:1px solid #e0e0e0;}
.couponcardbox .order_search_title{width:100%;overflow:hidden;margin-bottom:10px}
.couponcardbox .order_search_title .order_search_indent{text-indent:12px}
.couponcardbox .order_search_title li{float:left;padding:0px 5px;line-height:27px;color:#747474}
.couponcardbox .order_search_title .order_search_time{background:#e4e4e4;margin:0px 5px; cursor:pointer}
.couponcardbox .order_search_title .order_search_time a,.order_search .order_search_title .order_search_time1 a{color:#e2af29}
.couponcardbox .order_search_title .order_search_time{background:#e4e4e4;margin:0px 5px 0px 5px; cursor:pointer}
.couponcardbox .order_search_title .order_search_time:first-child {margin-left:0px;}
.couponcardbox .order_search_title .time-width{height:25px;width:106px;border:1px solid #aaaaaa;padding:0 5px;}
.couponcardbox_namebox {width:auto;overflow:hidden;font-size:14px;color:#f60;padding-top:10px;}
.couponcardbox_namebox li {width:auto;overflow:hidden;float:left;line-height:25px;margin-right:20px;}
.couponcardbox_namebox strong {font-size:20px;}
.couponcardbox_searchbox {width:100%;overflow:hidden;margin-top:10px;}
.couponcardbox_searchbox table {width:100%;border-collapse:collapse;color:#666;}
.couponcardbox_searchbox td {border:1px solid #e6e6e6;padding:5px;height:25px;}
.couponcardbox_searchbox table .couponcardbox_searchbox_title {background:#f6f6f6;color:#333;font-size:14px;}

/*积分变动明细*/
.buyerscore_select {width:100px;height:27px;border:1px solid #AAA;}

/*站内信回复框*/
.TextIndent {padding-left:12px;}
.input_texta4 {width:550px;height:54px;line-height:18px;max-width: 550px;max-height: 100px;}
.data{width:97%;overflow:hidden;margin:0 auto;color:#666666;text-indent:0px;font-size:14px;}
.table_style{text-indent:12px;}
/*订单*/

.order_search{width:auto;overflow:hidden;border:1px solid #e6e6e6;background:#f6f6f6;padding:17px 5px 0px;font-size:14px;}
.order_search .order_search_title{width:100%;overflow:hidden;margin-bottom:10px}
.order_search .order_search_title .order_search_indent{text-indent:12px}
.order_search .order_search_title li{float:left;padding:0px 5px;line-height:27px;color:#747474}
.order_search .order_search_title .order_search_time{background:#e4e4e4;margin:0px 5px; cursor:pointer}
.order_search .order_search_title .order_search_time a,.order_search .order_search_title .order_search_time1 a{color:#e2af29}
.order_search .order_search_title .order_search_time{background:#e4e4e4;margin:0px 5px 0px 5px; cursor:pointer}
.order_search .order_search_title .order_search_time:first-child {margin-left:0px;}

.order_search .order_search_title .time-width{height:25px;width:106px;border:1px solid #aaaaaa;padding:0 5px;}
.search_width{width:290px;height:25px;border:1px solid #aaaaaa;padding:0 5px;}
.button-width2{width:48px;height:25px;border:1px solid #aaaaaa;cursor: pointer;}
.order_content{width:100%;margin-top:10px;font-size:14px;color:#c30000;text-align:center;}
.order_content table{color:#737373}
.order_StoreName {width:auto;color:#333;position:relative;padding-left:5px;padding-right:25px;white-space:nowrap;text-overflow:ellipsis;}
.order_StoreName a {color:#333;}
.order_StoreName a:hover {color:#c30000;}

.order_OnlineConsult {height:25px;position:absolute;top:6px;right:-6px;border:1px solid #fff;}
.sub_header_grade_Text {width:76px;color:#999;line-height:25px;text-indent:24px;background:url(../images/StoreInfo_NoService.png) no-repeat}
.order_table_left{width:133px;overflow:hidden;padding:0px 9px 15px 9px;position:relative;}
.order_table_left .order_table_state{font-weight:normal;color:#c30000;line-height:40px;font-size:14px;text-align:center;border-bottom:1px dotted #ccc;}
.order_table_left .order_table_button{width:92px;height:27px;margin:0 auto;position:relative;margin-bottom:5px;cursor: pointer;}
.order_table_left .order_table_button .button_pay{position:absolute;top:0;left:0;cursor: pointer;}
.order_table_left .order_table_number{position:relative;Z-index:10;padding:10px 0;}
.order_table_add_popup{width:340px;overflow:hidden;border:1px solid #edd28b;background:#fffdee;position:absolute;top:0;left:0;Z-index:10}
.button_pay_bg {width:92px;height:27px;line-height:27px;text-align:center;border-radius:3px;}
.order_table_left .order_table_number .logistics_show {display:inline-block;width:60px;}
.order_table_number {width:100%;overflow:hidden;}

/*个人会员中心-确认收货按钮*/
.patt_button_Receiving {background:#0080c7}
.patt_button_Receiving:hover {background:#0092d2}
.patt_button_Receiving:active {background:#008bce}

/*个人会员中心-立即付款按钮*/
.patt_button_pay {
    background:#ad0100;
    color:#fff;
    font-size:14px;
	margin-top:5px;
}
.patt_button_pay:hover {
    background:#b90100;
    color:#fff;
}
.patt_button_pay:active{
    background:#ab0100;
    color:#fff;
}

.order_table_left .order_table_number dt,.order_table_number dd{line-height:25px;}
.order_table_left .order_table_number dt{color:#666;position:relative;text-align:left;}
.order_table_left .order_table_number dt a{color:#005ea7;}
.order_table_left .order_table_number dd{color:#444;font-weight:bold;text-align:left;}
.PhoneOrders {width:46px;height:16px;background:url(../images/PhoneOrder.png) no-repeat;position:absolute;top:5px;left:65px;}

.order_table_right{width:212px;overflow:hidden;padding:0px 9px}
.order_table_right .order_table_number dt,.order_table_right .order_table_number dd{float:left;line-height:25px}
.order_table_right .order_table_number dt{width:92px;color:#666;text-align:right}
.order_table_right .order_table_number dd{width:120px;color:#c30000;font-weight:bold;text-align:left;}

.order_table_center{width:544px;overflow:hidden;padding:9px;}
.order_table_center .order_table_first{width:100%;overflow:hidden;}
.order_table_center .order_table_first .order_table_first_product{width:100%;height:50px;padding:5px;}
.order_table_center .order_table_first .order_table_first_product:hover {background:#f4f4f4;}
.order_table_first_product li{float:left;}
.order_table_first_product .product_img{width:47px;height:47px;border:1px solid #e4e4e4;padding:1px;margin-right:5px;cursor: pointer;}
.order_table_first_product .product_img img{width:47px;height:47px}
.order_table_first_product .product_name{width:357px;height:50px;margin-right:5px;line-height:17px;overflow:hidden}
.order_table_first_product .product_rmbbox{width:120px;height:55px;}
.order_table_first_product .product_rmbbox .product_rmbbox_rmb{width:100%;height:22px;}
.order_table_first_product .product_rmbbox .product_rmbbox_rmb .rmbbox_rmb{width:75%;color:#c30000;line-height:17px;text-align:right;font-weight:bold;/*margin-top:6px;*/}
.order_table_first_product .product_rmbbox .product_rmbbox_rmb .rmbbox_number{width:20%;line-height:17px;text-align:right;/*margin-top:6px;*/}
.order_table_first_product .product_rmbbox .product_rembox_button{width:120px;height:25px;cursor: pointer;/*margin-right:10px*/}
.order_table_first_product .product_rmbbox .product_rembox_button li {float:right;margin-right:5px;}
.order_table_first_product .product_rmbbox .product_rembox_button a{color:#005ea7;float:right;line-height:19px;cursor: pointer;}

.order_search .order_search_title .order_status_checked {background-color:#ad0100;color:white;}
.order_search .order_search_title .order_status_checked a {	color: white;}
.order_search .order_search_title .order_status_unchecked{background-color:#e4e4e4;color:#666;}
.order_search .order_search_title .order_status_unchecked a {color: #e2af29}

/*评价弹出页*/
.order_table_product_popup{width:524px;overflow:hidden;padding:9px;border:1px solid #edd28b;background:#fffdee;margin-top:10px}
.order_table_product_popup .order_table_product_popup_content{width:524px;overflow:hidden;padding:3px}
.order_table_product_popup .order_table_product_popup_content dt{width:60px;overflow:hidden;color:#666;text-align:right;float:left;line-height:17px}
.order_table_product_popup .order_table_product_popup_content dd{width:460px;overflow:hidden;color:#999;float:left;line-height:17px}
.order_table_product_popup_content_star{width:100%;overflow:hidden;}
.order_table_product_popup_content_star li{width:11px;height:11px;float:left;margin-right:2px;position:relative;margin-top:3px}
.icon_l{position:absolute;top:0;left:0}
.icon_o{position:absolute;top:0;left:0}
.order_table_product_popup_content .title-width{width:148px;height:21px;border-top:1px solid #aaaaaa;border-left:1px solid #c3c3c3;border-bottom:1px solid #dddddd;border-right:1px solid #e5e5e5}
.order_table_product_popup_content .content-width{width:458px;height:67px;border-top:1px solid #aaaaaa;border-left:1px solid #c3c3c3;border-bottom:1px solid #dddddd;border-right:1px solid #e5e5e5}
.popup_content_icon{width:145px;overflow:hidden;float:right;}
.popup_content_icon li{float:right;padding:0 2px}
.popup_content_icon_close a{color:#868686;line-height:22px;padding-left:5px}
.PopupBox_AddService_Input{width:auto;overflow:hidden;margin:5px 0;}
.PopupBox_AddService_Input li{width:auto;overflow:hidden;float:left;margin-right:5px;font-size:13px;color:#666;line-height:28px;}
.PopupBox_AddService_Input li:first-child{width:60px;overflow:hidden;text-align:right;}
.PopupBox_AddService_AccountBox{width:298px;overflow:hidden;margin:0 auto;border:1px solid #d5d5d5;margin-top:10px;background:#fbfbfb;}
.PopupBox_AddSort_ImgBox{width:auto;overflow:hidden;}
.PopupBox_AddSort_ImgBox img{width:50px;height:50px;padding:1px;border:1px solid #cad2e2;}

/*物流弹出页*/
.logistics_box{overflow:hidden;background:#fff;border:1px solid #ddd;position:relative}
.logistics_content{width:310px;overflow:hidden;margin:0 auto;background:#fff;}
.logistics_content a{text-decoration:none;color:#005ea7;padding:0 5px}
.logistics_content li{line-height:22px;text-indent:24px}
.logistics_content em{color:#999;font-style:normal}
.logistics_button{float:right;cursor: pointer;}
.logistics_button input{width:48px;height:20px;border:1px solid #999;margin:0px 10px 10px 0px;cursor: pointer;}
#show_order_logistics_186,#show_order_logistics_185,#show_order_logistics_184{position:relative}
.poptip{position: absolute;width: 310px;top:35px;left:-127px;padding: 5px 7px 5px;*padding: 6px 7px 6px;line-height: 16px;color: #666;font-size: 12px;background-color: #FFFCEF;border: solid 1px #FFBB76;border-radius: 2px;Z-index:100;cursor:pointer;}
.poptip_info{width: 490px;padding: 5px 7px 5px;*padding: 6px 7px 6px;line-height: 16px;color: #666;font-size: 12px;border-radius: 2px}
.poptip-arrow{position: absolute;overflow: hidden;font-style: normal;font-size: 12px;text-shadow:0 0 2px #ccc;}
.poptip-arrow em,.poptip-arrow i{position: absolute;left:0;top:0;font-style: normal;}
.poptip-arrow em{color: #FFBB76;}
.poptip-arrow i{color: #FFFCEF;text-shadow:none;}
.poptip-arrow-left{height: 24px;width: 12px;top:-3px;margin-top:-6px;left:50%;}
.poptip-arrow-left em{top:1px;}
.poptip-arrow-left i{top:2px;}

.logistics_box p {
	width:280px;
	margin:0px auto;
}
.courier {
	margin-bottom:8px;
	padding:15px 0 10px 0;
	border-bottom:1px solid #f1f1f1;
	color:#666;
}
.logistics_box .logistics_address {
	width:280px;
	margin:0px auto;
}
.logistics_box_info .logistics_address {
	width:470px;
	margin:0px auto;
}

.logistics_address li {
	position:relative;
	line-height:18px;
	padding:0px 2px 12px 25px;
}
.name {
	margin-right:10px;
}
.logistics_address .place {
	display:block;
	overflow:hidden;
	word-wrap:break-word;
}

.logistics_address .symbol {
	position:absolute;
	top:6px;
	left:8px;
	_left:17px;
	overflow:hidden;
	width:6px;
	height:6px;
	background-color:#dddddd;
}

.logistics_address .current {
	color:#f40;	
}

.logistics_address .symbolCurrent {
	position:absolute;
	top:6px;
	left:8px;
	_left:17px;
	overflow:hidden;
	width:6px;
	height:6px;
	background-color:#f40;
}

.logistics_box .logistics_address .view-all {
	display:inline-block;
	color:#005ea7;
	margin-left:10px;
	padding-right:16px;
	background:url(../images/untitled.png) no-repeat;
	background-position:52px -20px;
}

.logistics_box .logistics_address .view-none {
	position:absolute;
	top:2px;
	left:5px;
	_left:17px;
	overflow:hidden;
	width:16px;
	height:16px;
	display:inline-block;
	background:url(../images/untitled.png) no-repeat;
	background-position:1px -38px;
}


/*发票信息*/
.invoice_info {
	margin-left:10px;
}
.invoice_info .none_invoice{
	height:30px;
	line-height:30px;
}
.invoice_info table {
	margin-bottom:10px;
}
.invoice_info table td {
	line-height:20px;
}

/*投诉*/
.order_content_complaint{width:85%;overflow:hidden;margin:0 auto}
.order_content_complaint li{float:left;padding:0 2px;}
.order_content_complaint a{color:#005ea7}

/*投诉页面*/
.complaint_page{width:auto;overflow:hidden;border:1px solid #ffc63c;background:#fcf7ed;margin-top:10px;padding:10px}
.complaint_page .complaint_page_top{width:100%;height:311px;font-size:14px;}
.complaint_page .complaint_page_top .complaint_page_top_title{width:74px;overflow:hidden;text-align:right;float:left;color:#666;line-height:30px}
.complaint_page .complaint_page_top .complaint_page_top_content{width:852px;height:309px;border:1px solid #ddd;float:left;overflow:auto;background:#fff}

/*提问*/
.complaint_page .complaint_page_top .complaint_page_top_content .complaint_page_top_content_Q{width:100%;overflow:auto;position:relative;margin-bottom:5px}
.complaint_page_top_content_Q .complaint_page_top_content_poptip{width:370px;overflow:hidden;padding: 20px 10px 20px;*padding: 21px 10px 19px;line-height: 16px;color: #DB7C22;font-size: 12px;background-color: #fff;border: solid 1px #b0c2f6;border-radius: 5px;box-shadow: 0 0 5px #ddd;margin:10px 10px 20px 10px;float:left;}
.complaint_page_top_content_Q .complaint_page_top_content_edit{width:100%;height:100%;color:#666}
.complaint_page_top_content_Q .complaint_page_top_content_time{float:left;color:#a7a7a7;position:absolute;bottom:0;left:180px}

/*回答*/
.complaint_page .complaint_page_top .complaint_page_top_content .complaint_page_top_content_A{width:100%;overflow:hidden;position:relative;margin-bottom:5px}
.complaint_page_top_content_A .complaint_page_top_content_poptip{width:370px;overflow:hidden;padding: 20px 10px 20px;*padding: 21px 10px 19px;line-height: 16px;color: #DB7C22;font-size: 12px;background-color: #fff;border: solid 1px #FFBB76;border-radius: 5px;box-shadow: 0 0 5px #ddd;margin:10px 20px 20px 10px;float:right}
.complaint_page_top_content_A .complaint_page_top_content_edit{width:100%;overflow:hidden;color:#666}
.complaint_page_top_content_A .complaint_page_top_content_time{float:right;color:#a7a7a7;position:absolute;bottom:0;left:445px}

.complaint_page_bottom{width:100%;overflow:hidden;margin-top:10px}
.complaint_page_bottom .complaint_page_bottom_title{width:74px;overflow:hidden;text-align:right;float:left;color:#666;line-height:30px;font-size:14px;}
.complaint_page_bottom .complaint_page_bottom_content{width:852px;overflow:hidden;float:left;}

.complaint_page_bottom .complaint_page_bottom_content .complaint_page_bottom_content_left{width:230px;overflow:hidden;border:1px solid #dedede;background:#fff;float:left;}
.complaint_page_bottom_content_left_state{width:220px;overflow:hidden;padding:5px 5px 0px 5px;color:#9d9d9d}
.complaint_page_bottom_content_left_state dt{width:75px;overflow:hidden;line-height:20px;text-align:right;color:#666;float:left;margin-bottom:5px;font-size:14px;}
.complaint_page_bottom_content_left_state dd{width:140px;overflow:hidden;line-height:20px;float:left;margin-bottom:5px;font-size:14px;}
.complaint_page_bottom_content_left_state dd span{color:#a32424;font-size:14px;}
.complaint_page_bottom_content_left_radio input{width:13px;height:13px;position:relative;top:-1px; vertical-align:middle;margin-right:3px}
.complaint_page_bottom_content_left_state .complaint_page_bottom_content_left_button{width:75px;height:22px;line-height: 22px;color: #6f4100;background-color: #ffcf5b;border: solid 1px #dda514;border-radius: 3px;box-shadow: 0 0 5px #e4d3a6;text-align:center;cursor: pointer;margin-left:75px;}
.complaint_page_bottom_content_left_state .complaint_page_bottom_content_left_button:hover {text-decoration:underline}
.complaint_page_bottom_content_left_state .complaint_page_bottom_content_left_button .button_complain{width:75px;height:22px;line-height: 19px;color: #6f4100;background-color: #ffcf5b;border: solid 1px #dda514;border-radius: 3px;box-shadow: 0 0 5px #e4d3a6;text-align:center;cursor: pointer;}

.complaint_page_bottom .complaint_page_bottom_content .complaint_page_bottom_content_right{width:610px;overflow:hidden;float:left;margin-left:10px}
.complaint_page_bottom_content_right_name{width:100%;overflow:hidden;margin-bottom:10px;line-height:25px;color:#666}
.complaint_page_bottom_content_right_name li{float:right;margin:0 5px;font-size:14px;}

#submit_complainRecord {margin-top:5px;}
#submit_complainRecord:hover {text-decoration:underline}
.complaint_page_bottom_content_right_name .call-width{width:106px;height:25px;line-height:25px;border:1px solid #aaa;padding:0 5px;}
.complaint_page_bottom_content_right_name .button-width4{width:69px;height:22px;border:1px solid #acacac;cursor: pointer;}
.complaint_page_bottom_content_right_input{width:100%;overflow:hidden;margin-bottom:5px;}
.complaint_page_bottom_content_right_input textarea{width:606px;height:181px;border:2px solid #8be896}
.complaint_page_bottom_content_right_text{padding-right:225px;color:#999}
.complaint_page_bottom_content_right_button{width:57px;height:25px;line-height: 25px;padding:0 10px;color: #1f1f1f;background-color: #fff;border: solid 1px #b7b7b7;border-radius: 3px;box-shadow: 0 0 5px #ddd;text-align:center;float:right;cursor: pointer;}

/*我的足迹*/
.shop-add_number,.shop-add_button{width:89px;overflow:hidden;line-height:72px;text-align:center;color:#7a7a7a;}
.shop-add_info{width:750px;overflow:hidden;color:#7a7a7a;padding:5px}
.shop-add_info .shop-add_info_name{width:300px;float:left;color:#7a7a7a;line-height:25px}
.shop-add_info .shop-add_info_www{width:300px;float:left;color:#7a7a7a;line-height:25px;text-align:center}
.shop-add_info .shop-add_info_www1{width:100px;float:left;color:#7a7a7a;line-height:25px}
.shop-add_info_time{width:150px;float:left;color:#7a7a7a;line-height:25px;text-align:center}
.shop-add_info a{color:#005ea7}
.input-height2{width:334px;height:21px;border:1px solid #abadb3;line-height:21px}
.shop-add_box table{border-collapse: collapse;font-size:13px;color:#666;}
.shop-add_box table .order_table_color {font-size:14px;}
.edit_favorites_info,.delete_favorites_info {width:25px;}

/*购买咨询*/
.user_Q, .user_A { margin:8px 0px; line-height:15px;}
.advisorytime { margin-left:15px;color:#9c9a9c;font-size:12px;}
.user_A .reply {color:#ff6500 } 	
.advisorylistbox .order_table_color {background:#f6f6f6;color:#333;}
.advisorylistbox td {padding:0 5px;}

/*站内信*/
.mod_personal_head {color: #666666;position: relative;z-index: 4;margin: 5px 0 0 0;}
.mod_personal_head .recpt_bor_two {position: relative;margin-top: 10px;border-top: 1px solid #FF966E;}
.mod_personal_head .recpt_two {position: relative;}
.mod_personal_head .recpt_two ul {height: 31px;border: 1px solid #EEEEEE;background-color: #F7F7F7;_overflow: hidden;}
.mod_personal_head .recpt_two li {margin: 0;position: relative;z-index: 1;left: 0px;top: 0px;}
.mod_personal_head .recpt_two li {float: left;height: 30px;line-height: 30px;cursor: pointer;color: #333333;background-color: #F7F7F7;border: 1px solid #EEEEEE;border-left: none;}
.mod_personal_head .recpt_two .on {position: relative;display: inline-block;background: #fff;border-bottom: 1px solid #fff;font-weight: normal;color: #e60012;}
.mod_personal_head .recpt_two li a {text-decoration: none;color: #333333;display: block;padding: 0 20px;font-size:14px;}
.mod_message_new {width:100%;overflow:hidden;margin-bottom:15px;}
.mod_message_new .date {margin-top: 15px;float: left;width: 100%;background: url(../images/tidings_sprite.png) repeat-x 0px -250px;height: 4px;position: relative;z-index: 1;left: 0px;top: 0px;text-align: center;}
.mod_message_new .date span {color: #666666;font-size: 12px;font-family: Tahoma;position: absolute;z-index: 2;top: -5px;left: 50%;margin-left: -42px;background-color: #ffffff;padding: 0 10px;}
.mod_message_new dd {float: left;width: 100%;}
.mod_message_new dd .time {width: 100%;margin: 0;display: block;float: left;padding: 8px 0;color: #999999;font-size: 14px;font-family: Tahoma;font-weight: normal;position:relative}
.mod_message_new dd .time li {width:auto;overflow:visible;float:left;margin-right:10px;}
.mod_message_new dd .time input {width:13px;height:13px;position:relative;margin-top:1px;}
.mod_message_new dd .message {display: block;float: left;width: 880px;border: 1px #eeeeee solid;border-left-color: #ff966e;background-color: #fafafa;line-height: 20px;padding: 15px 10px 10px 10px;text-decoration: none;position: relative;z-index: 1;}
.mod_message_new dd .message .info {color: #666666;font-family: SimSun;font-size: 14px;}
.mod_message_new dd strong {color:#000;}
.mod_toolBar {background-color: #fafafa;padding: 6px 0px;float: left;width: 900px;margin: 10px 0 0 0;}
.mod_toolBar input {width:13px;height:13px;position:relative;top:1px;}
.mod_toolBar label {float: left;color: #666666;font-size: 12px;font-family: SimSun;display: inline-block;width: auto;margin: 0 5px 0 0;cursor: pointer;}
.mod_toolBar span {color: #e5e5e5;font-size:14px;float: left;}
.mod_toolBar label.All {margin: -1px 0 0 10px;border:1px solid #888;background:-moz-linear-gradient(center top , #FFF 0%, #EBEBEB 90%, #F3F3F3 100%) repeat scroll 0% 0% transparent;border-radius:2px;padding:1px 5px;color:#000;}
.no_read_msg {width:14px;height:11px;background: url(../images/Maill.png) no-repeat;position:absolute;top:11px;left:20px;}
.message_reply {width:14px;height:11px;background: url(../images/Table_Icon_Reply.png) no-repeat;/*position:absolute;top:11px;left:180px;*/}
.read_msg {width:14px;height:12px;background: url(../images/Maill_Open.png) no-repeat;position:absolute;top:9px;left:20px;}


.OrderList_Select {width:100%;overflow:visible;margin-right:10px;}
.OrderList_Select a {color:#666;text-decoration:none;padding-left:18px;position:relative;}
.Icon_Maill {width:14px;height:12px;background: url(../images/Maill.png) no-repeat;position:absolute;top:3px;left:0px;}
.Icon_Bill {width:14px;height:12px;background: url(../images/Bill.png) no-repeat;position:absolute;top:3px;left:4px;}
.Icon_Logistics {width:15px;height:14px;background: url(../images/Logistics.png) no-repeat;position:absolute;top:1px;left:0px;}

/*输入框设置*/
.input-text {width:308px;height:20px;line-height:20px;border:1px solid #999;color:#333;}
.input-text-name {width:200px;height:20px;line-height:20px;border:1px solid #999;color:#333;}
.select-add {width:150px;height:22px;border:1px solid #999;color:#333;float:left;margin-right:10px}
.input-radio {width:13px;height:13px;vertical-align:middle;position:relative;top:-1px;margin-right:3px}

/*分页*/
.product_listpage{width:100%;height:30px;margin:0 auto;margin-top:10px;font-size:14px;}
.product_listpage .product_pagebox{width:auto;height:26px}
.product_listpage .product_page{width:400px;height:26px;margin:0 auto}
.product_listpage .product_page li{float:left;padding:0 9px;border:1px solid #ccc;color:#32312d;line-height:26px;margin-right:5px;cursor:pointer}
.product_listpage .product_cilckpage{width:40px}
.product_page li.product_pagebgcolor{border:1px solid #782326;color:#782326;background:#ffe1e7}
.product_pagesubmit input.product_page01{width:26px;height:26px;float:left;line-height:26px;border:1px solid #cccccc;text-align:center;margin-top:0px;}
.product_pagesubmit li.product_submit{width:38px;height:26px;border:1px solid #cccccc;text-align:center;margin-top:0px;line-height:26px;cursor:pointer;}
.product_pagesubmit li.product_submit:hover {border:1px solid #c30000;color:#782326}
.product_pagesubmit li.product_submit:active {border:1px solid #782326;background:#ffe1e7;color:#782326}

.footer_button{width:900px;overflow:hidden;margin:0 auto;padding:9px 0 28px 0;}
.footer_button .button_h{float:right;cursor: pointer;}


/*问号提示-下右对齐*/
.PopupBox_HintBg_BottomRight{/*width:272px;*/z-index:1;}
.PopupBox_HintBg_BottomRight .PopupBox_HintBg_IconBox{width:100%;overflow:hidden;}
.PopupBox_HintBg_BottomRight .PopupBox_HintBg_Icon{width:12px;height:12px;border:1px solid #c17103;border-radius:2px;line-height:12px;text-align:center;font-size:12px;font-weight:700;background:#ffe668;cursor:pointer;margin-right:5px;float:right;color:#754f0e}
.PopupBox_HintBg_BottomRight .PopupBox_HintBg_ContentBox{background:#FFFFDC;border:1px solid #F1CF8E;color:#666;padding:10px;position:relative;max-width:250px;margin-top:7px;}
.PopupBox_HintBg_BottomRight .PopupBox_HintBg_ContentBox_Arrow{width:9px;height:5px;background:url(../images/PopupIcon_Arrow.png) no-repeat;position:absolute;top:-5px;right:7px;}
.PopupBox_HintBg_BottomRight .PopupBox_HintBg_ContentBox_Text{line-height:20px;color:#666;font-size:12px;}
