* { margin: 0; padding: 0; font-size: 13px; font-family: Microsoft YaHei, Simsun, Arial, Helvetica, sans-serif; color: #666; }
li { list-style: none; }
img { border: none; }
textarea { resize: none; }
a { text-decoration: none; }
em, i { font-style: normal; }

.cart_bg { width: 1190px; overflow: hidden; margin: 0 auto; padding-bottom: 50px; font-size:13px;color: #666;}
.cart_selectbox { width: auto; overflow: hidden; padding: 0 10px; background: #ebebeb; margin-top: 20px; }
.cart_selectbox li { float: left; line-height: 36px; text-align: center; }
.cart_selectbox .selectbox_checkbox { width: 33px; height: 36px; position: relative; }
.cart_selectbox .selectbox_checkbox i { position: absolute; right: 0; top: 11px; }
.cart_selectbox .selectbox_checkall { width: 44px; }
.cart_selectbox .selectbox_goodsname { width: 510px; }
.cart_selectbox .selectbox_price { width: 155px; }
.cart_selectbox .selectbox_number { width: 190px; }
.cart_selectbox .selectbox_total { width: 135px; }
.cart_selectbox .selectbox_ope { width: 100px; }
.cart_goodsinfobg { width: auto; overflow: visible; border: 2px solid #ebebeb; margin-top: 20px; }
.cart_goodsinfobox { width: auto; overflow: visible; padding: 10px; }
.cart_goodsinfobg .goodsinfo_store { width: auto; overflow: hidden; padding: 5px 0; }
.cart_goodsinfobg .goodsinfo_store_checkbox { width: 31px; height: 20px; float: left; position: relative; }
.cart_goodsinfobg .goodsinfo_store_checkbox i { position: absolute; top: 3px; right: 0; }
.cart_goodsinfobg .goodsinfo_storename { width: auto; overflow: hidden; padding-left: 32px; line-height: 20px; font-weight: bold; position: relative; float: left; }
.cart_goodsinfobg .storename_icon { position: absolute; top: 2px; left: 10px; }
.cart_orderlistbg { width: auto; overflow: hidden; margin-top: 10px; border: 1px solid #ebebeb; border-bottom: none; }
.cart_orderlistbox { width: auto; overflow: hidden; margin-top: 0px; background: #fafafa; border-bottom: 1px solid #ebebeb; padding: 15px 0px 15px 10px; }
.cart_orderlistbox:last-child { border-bottom: none; }
.cart_orderlistbox li { float: left; line-height: 28px; font-family: Verdana; }
.cart_orderlistbox .selectbox_checkbox { width: 21px; }
.cart_orderlistbox .selectbox_goodsname { width: 522px; padding-left: 32px; }
.cart_orderlistbox .selectbox_ope { width: 99px; }
.cart_orderlistbox .goodsnumber_box { width: 104px; height: 28px; margin: 0 auto; background: #f4f4f4; border: 1px solid #dcdcdc; }
.cart_orderlistbox .goodsnumber_box a { display: block; width: 28px; height: 28px; float: left; line-height: 28px; }
.cart_orderlistbox .goodsnumber_box input { display: block; width: 46px; height: 28px; background: #fff; border-left: 1px solid #dcdcdc; border-right: 1px solid #dcdcdc; border-top: none; border-bottom: none; float: left; text-align: center; }
.cart_orderlistbox .selectbox_total span { color: #df3032; }
.cart_orderlistbox .goodsope_box { width: 50px; overflow: hidden; margin: 0 auto; }
.cart_orderlistbox .goodsope_box a { display: block; color: #999; line-height: 25px; text-align: center; }
.cart_orderlistbox .goodsope_box a:hover { color: #df3032; text-decoration: underline; }
.cart_orderlistbox .goodsname_img { width: 50px; height: 50px; padding: 5px; border: 1px solid #e1e1e1; float: left; background: #fff; cursor:pointer;}
.cart_orderlistbox .goodsname_img img { width: 50px; height: 50px; }
.cart_orderlistbox .goodsname_namebox { width: 440px; overflow: hidden; float: left; line-height: 20px; text-align: left; padding-left: 20px; }
.cart_orderlistbox .goodsname_name { width: 100%; overflow: hidden; max-height: 40px; }
.cart_orderlistbox .goodsname_name span { color: #df3032; }
.cart_orderlistbox .goodsname_attr { color: #999; }
.cart_orderlistbox_salebox { width: auto; overflow: hidden; line-height: 30px; padding-left: 63px; background: #fff5f5; border-bottom: 1px solid #ebebeb; }
.cart_orderlistbox_salebox span { padding: 0px 3px; background: #df3032; color: #fff; border-radius: 1px; margin-right: 2px; }
.cart_orderlistbox_salebox em { color: #df3032; }
.cart_orderlistbox_salebox a { color: #999; text-decoration: underline; }
.cart_totalbg { width: auto; overflow: hidden; border: 1px solid #d3d3d3; background: #f4f4f4; padding: 10px; }
.cart_totalbox { width: auto; overflow: hidden; float: right; }
.cart_totalbox li { float: left; padding: 0 15px; text-align: center; }
.cart_totalbox li span { display: block; }
.cart_totalbox li em { display: block; color: #df3032; font-family: Verdana; }
.cart_addordebg { width: auto; overflow: hidden; line-height: 20px; position: relative; float: right; }
.cart_addordebox { width: auto; overflow: hidden; }
.cart_addordebox span { padding-left: 25px; position: relative; }
.cart_addordebox em { padding-left: 5px; color: #df3032; }
.cart_addordebox .addorderbox_icon { position: absolute; top: 2px; left: 5px; cursor: pointer; }
.cart_addordebox a { background: #E4393C; color: #fff; border-radius: 2px; line-height: 20px; padding: 0 5px; font-weight: bold; }
.cart_addordebox .addorderbox_iconhintbg { width: 260px; height: 62px; overflow: hidden; position: absolute; top: -70px; right: -225px; padding-bottom: 6px; display: none; }
.cart_addordebox .addorderbox_iconhintbox { width: auto; overflow: hidden; padding: 10px; line-height: 20px; background: #fffdef; border: 1px solid #efd389; }
.cart_addordebox .addorderbox_iconhint_icon { position: absolute; bottom: 1px; left: 20px; }
.cart_addordebox .addorderbox_icon:hover .addorderbox_iconhintbg { display: block; }

.cart_opebox { width: auto; height: 44px; overflow: hidden; background: #ebebeb; padding-left: 10px; }
.cart_opebox li { float: left; line-height: 44px; text-align: center; }
.cart_opebox .selectbox_checkbox { width: 33px; height: 44px; position: relative; }
.cart_opebox .selectbox_checkbox i { position: absolute; right: 0; top: 15px; }
.cart_opebox .selectbox_checkall { width: 44px; }
.cart_opebox .selectbox_del { width: auto; }
.cart_opebox .selectbox_del a { padding: 0 10px; }
.cart_opebox .selectbox_del a:hover { color: #DF3032; text-decoration: underline; }
.cart_opebox .selectbox_total { width: auto; float: right; }
.cart_opebox .selectbox_total span { padding: 0 10px; }
.cart_opebox .selectbox_total em { color: #E4393C; font-weight: bold; font-family: Verdana; padding: 0 5px; }
.cart_opebox .selectbox_total i { font-size: 16px; color: #E4393C; font-weight: 700; font-family: Verdana; }
.cart_opebox .selectbox_ope { width: auto; float: right; }
.cart_opebox .selectbox_ope a { display: block; line-height: 44px; padding: 0 20px; background: #E4393C; color: #fff; font-size: 18px; }

.cart_goodsinfobg:hover { border-color: #ee6b6e; }
/*.cart_goodsinfobg:hover .cart_opebox { background: #ee6b6e; }
.cart_goodsinfobg:hover .cart_opebox * { color: #fff; }*/
.cart_goodsinfobg:hover .cart_opebox .selectbox_ope a { background: #c92c2f; }
.cart_goodsinfobg:hover .cart_opebox .checkbox { background: #fff; }
.cart_goodsinfobg:hover .cart_opebox .checkbox.checked { background: url(../images/main_icon.png) no-repeat -45px -232px; }


/*进程条*/
.main_coursebg { width: 100%; overflow: hidden; margin-top: 20px; }
.main_coursebox { width: 601px; overflow: hidden; margin: 0 auto; }
.main_coursebox li { float: left; }
.main_coursebox .lable { display: block; width: 207px; line-height: 36px; text-align: center; color: #999999; }
.main_coursebox .lable_01 { background: url(../images/buy_icon.png) no-repeat 0 -37px; }
.main_coursebox .lable_02 { background: url(../images/buy_icon.png) no-repeat 0 -111px; margin-left: -10px; }
.main_coursebox .lable_03 { background: url(../images/buy_icon.png) no-repeat 0 -185px; margin-left: -10px; }
.main_coursebox .checked .lable_01 { background: url(../images/buy_icon.png) no-repeat 0 0px; color: #fff; }
.main_coursebox .checked .lable_02 { background: url(../images/buy_icon.png) no-repeat 0 -74px; color: #fff; }
.main_coursebox .checked .lable_03 { background: url(../images/buy_icon.png) no-repeat 0 -148px; color: #fff; }


/*全选*/
.checkbox { width: 14px; height: 14px; background: url(../images/main_icon.png) no-repeat 0px -232px; }
.checkbox:hover { background: url(../images/main_icon.png) no-repeat -15px -232px; }
.checkbox .checked { background: url(../images/main_icon.png) no-repeat -30px -232px; }

.fxk { width: 14px; height: 14px; background: url(../images/main_icon.png) no-repeat -30px -232px; }
.fxk1 { display: inline-block; }
/*.fxk1:hover{width:14px;height:14px;background:url(../images/main_icon.png) no-repeat -15px -232px;}*/
.fxk2 { width: 14px; height: 14px; background: url(../images/main_icon.png) no-repeat 0px -232px; }

/*商品已售完或已下架*/
.goodssold { width: 100px; height: 100px; background: rgba(0,0,0,0.5); border-radius: 500px; text-align: center; line-height: 100px; color: #fff; margin: 0 auto; font-size: 25px; }
.store_icon { width: 17px; height: 17px; background: url(../images/main_icon.png) no-repeat 0 -214px; }

/*继续选购图标*/
.em_01 { background: url(../images/cart_02.png) no-repeat 0 0; width: 19px; height: 15px; display: inline-block; margin-left: 20px; float: left; margin-top: 7px; }

/*购物车没有商品样式*/
.NoGoods { overflow: hidden; margin-top: 20px; background-color: #f3f3f3; border: 1px solid #dddddd; line-height: 100px; text-align: center; font-size: 14px; color: #666666; background-image: url(../images/NoGoods.png); background-repeat: no-repeat; background-position: 460px center; }
